*.js @brunogcsousa @BrunoRaphael2002
*.htm* @brunogcsousa @BrunoRaphael2002
*.css @brunogcsousa @BrunoRaphael2002
package.json @brunogcsousa @BrunoRaphael2002

*.php @nicolahsss @MatheusBrandao525 @Lucas2630
composer.json @nicolahsss @MatheusBrandao525 @Lucas2630

.github @BrunoRaphael2002 @MatheusBrandao525 @nicolahsss
