*.js @brunogcsousa @BrunoRaphael2002 @HexMagnus
*.htm* @brunogcsousa @BrunoRaphael2002 @HexMagnus
*.css @brunogcsousa @BrunoRaphael2002 @HexMagnus
package.json @brunogcsousa @BrunoRaphael2002 @HexMagnus

*.php @nicolahsss @MatheusBrandao525 @Lucas2630
composer.json @nicolahsss @MatheusBrandao525 @Lucas2630

.github @BrunoRaphael2002 @HexMagnus @MatheusBrandao525 @nicolahsss
