<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% block header %} {% endblock %}
  <link rel="stylesheet" href="assets/styles/styles.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css"
    integrity="sha512-yHknP1/AwR+yx26cB1y0cjvQUMvEa2PFzt1c9LlS4pRQ5NOTZFWbhBig+X9G9eYW/8m0/4OXNx8pxJ6z57x0dw=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css"
    integrity="sha512-17EgCFERpgZKcm0j0fEq1YCJuyAWdz9KUtv1EjVuaOz8pDnh/0nZxmU6BBXwaaxqoi9PQXnRWqlcDB027hgv9A=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>

  <nav>
    <div class="nav-menu">
      <h2><a href="">CODE <span>SAVVY</span></a></h2>
      <ul>
        {% if name==null %}
        <li><a href="/entrar">CADASTRAR</a></li>
        {% endif %}
        <li><a href="#">TALENTOS</a></li>
        <li><a href="#">EQUIPE</a></li>
        <li><a href="#">CONTATO</a></li>
      </ul>
    </div>
    <div class="icones">
      <ion-icon name="notifications" class="icon"></ion-icon>
      <ion-icon name="person" class="icon"></ion-icon>
    </div>
  </nav>
  {% block body %}{% endblock %}
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>

</html>