{% extends "layout.html" %}

{% block header %}
<title>Squad - Esqueci minha senha</title>
<meta name="title" content="Squad - Esqueci minha senha">
<meta name="description" content="Acesso ao Squad21">
{% endblock %}

{% block body %}

{% if hashValid==false %}Link invalido ou expirado{% endif %}
{% if recreatePassword %}<p>{{recreatePassword}}</p>{% endif %}
{% if recreatePassword==1 %}
<script>
  alert('Conta Recuperada, faça login!');
  window.location.href = window.location.protocol + '//' + window.location.host + '/entrar';
</script>
{% endif %}

{% if hashValid %}
<form method="post">
  Senha:
  <input name="password" type="password" /> <br />
  Confirme:
  <!-- Fazer a lógica de verificação se senhas são iguais no frontend JS -->
  <input name="confirm_password" type="password" disabled /> <br />
  <input name="{{token.nameKey}}" type="hidden" value="{{token.name}}" />
  <input name="{{token.valueKey}}" type="hidden" value="{{token.value}}" />
  <input type="submit" value="Alterar Senha" />
  <a href="/entrar">Voltar</a>
</form>
{% endif %}

{% endblock %}