{% extends "layout.html" %}

{% block header %}
<title>Squad - Esqueci minha senha</title>
<meta name="title" content="Squad - Esqueci minha senha">
<meta name="description" content="Acesso ao Squad21">
{% endblock %}

{% block body %}

{% if hashValid==false %}
<div class="alert alert-danger" role="alert">
  Link não é válido ou já expirado!
</div>
{% include 'Components/description.html' %}
{% endif %}

{% if recreatePassword %}
<div class="alert alert-warning" role="alert">
  {{recreatePassword}}
</div>
{% endif %}

{% if recreatePassword==1 %}
<script>
  alert('Conta Recuperada, faça login!');
  window.location.href = window.location.protocol + '//' + window.location.host + '/entrar';
</script>
{% endif %}

{% if hashValid %}
<form method="post">
  <div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Senha</label>
    <input type="password" class="form-control" id="exampleFormControlInput1" name="password">
  </div>
  <div class="mb-3">
    <label for="exampleFormControlInput2" class="form-label">Confirmação da senha</label>
    <input type="password" class="form-control" id="exampleFormControlInput2" name="password2" disabled>
    <!-- Fazer a lógica de verificação se senhas são iguais no frontend JS -->
  </div>
  <input name="{{token.nameKey}}" type="hidden" value="{{token.name}}" />
  <input name="{{token.valueKey}}" type="hidden" value="{{token.value}}" />
  <button class="btn btn-primary" type="submit">Alterar Senha</button>
  <a href="/entrar">Voltar</a>
</form>
{% endif %}

{% endblock %}