{% extends "layout.html" %}

{% block header %}
<title>Squad - Esqueci minha senha</title>
<meta name="title" content="Squad - Esqueci minha senha">
<meta name="description" content="Acesso ao Squad21">
{% endblock %}

{% block body %}

{% if captcha is same as(false) %}
<div class="alert alert-primary" role="alert">
  Você é um robô?
</div>
{% endif %}

{% if resetPassword %}
<div class="alert alert-primary" role="alert">
  Se seu e-mail {{resetPassword}}, estiver correto, você receberá um e-mail com instruções para recuperação da senha!
</div>
{% include 'Components/description.html' %}
{% endif %}

<form action="recuperar_senha" method="post">

  {% if resetPassword==null %}
  <div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Qual seu e-mail</label>
    <input type="email" class="form-control" id="exampleFormControlInput1" name="email">
  </div>
  <div class="h-captcha" data-sitekey="{{captcha_public}}"></div>
  <input name="{{token.nameKey}}" type="hidden" value="{{token.name}}" />
  <input name="{{token.valueKey}}" type="hidden" value="{{token.value}}" />
  <button class="btn btn-primary" type="submit">Recuperar Conta</button>
  <a href="/entrar">Lembrei minha senha</a> - <a href="/registrar">Não tenho conta</a>
  {% endif %}
</form>
<script src="https://js.hcaptcha.com/1/api.js" async defer></script>

{% endblock %}