{% extends "layout.html" %}

{% block header %}
<title>Codesavvy - Registrar</title>
<meta name="title" content="Codesavvy - Registrar-se">
<meta name="description" content="Acesso ao Codesavvy">
<link rel="stylesheet" href="assets/styles/login.css">
{% endblock %}

{% block body %}

{% if captcha is same as(false) %}
<div class="alert alert-primary" role="alert">
  Você é um robô?
</div>
{% endif %}

<div class="container">
  <div class="blueBg">
    <div class="box signin">
      <h2>Já tem uma conta?</h2>
      <button class="signinBtn">Fazer login</button>
    </div>
    <div class="box signup">
      <h2>Ainda não tem uma conta?</h2>
      <button class="signupBtn">Se registre</button>
    </div>
  </div>
  <div class="formBx">
    <div class="form signinForm"></div>

    <div class="form signupForm">
      <form action="/registrar" method="post">
        <h3>Registrar</h3>
        <input type="text" placeholder="Nome" name="name">
        <input type="text" placeholder="Usuário" name="username">
        <input type="email" placeholder="Email" name="email">
        <input type="password" placeholder="Senha" name="password">

        <label for="exampleFormControlInput4" class="form-label">Tipo de conta: </label>
        <div class="radio-list">
          <div class="radio">
            <label class="form-check-label" for="inlineRadio1">Usuário</label>
            <input class="form-check-input" type="radio" name="type" id="inlineRadio1" value=4>
          </div>
          <div class="radio">
            <label class="form-check-label" for="inlineRadio2">Programador</label>
            <input class="form-check-input" type="radio" name="type" id="inlineRadio2" value=3>
          </div>
        </div>
        <div class="h-captcha" data-sitekey="{{captcha_public}}"></div>
        <input name="{{token.nameKey}}" type="hidden" value="{{token.name}}" />
        <input name="{{token.valueKey}}" type="hidden" value="{{token.value}}" />
        <input type="submit" value="Registrar {{captcha_public}}">
      </form>
    </div>
  </div>
</div>

{% if signUp==1 %}
<script>
  alert('Cadastro com sucesso, faça login');
  window.location = window.location.href + '/../entrar';
</script>
{% endif %}
<script>
  const signinBtn = document.querySelector('.signinBtn');
  const signupBtn = document.querySelector('.signupBtn');
  const formBx = document.querySelector('.formBx');
  const body = document.querySelector('body')

  formBx.classList.add('active')
  body.classList.add('active')

  signinBtn.onclick = function () {
    formBx.classList.remove('active')
    body.classList.remove('active')
    setTimeout(() => {
      window.location.href = "entrar";
    }, 400);
  }
</script>
<script src="https://js.hcaptcha.com/1/api.js" async defer></script>
{% endblock %}