{% extends "layout.html" %}

{% block header %}
<title>Squad - Registrar</title>
<meta name="title" content="Squad - Registrar-se">
<meta name="description" content="Acesso ao Squad21">
{% endblock %}

{% block body %}

<form action="registrar" method="post">

  Nome:
  <input name="name" type="text" /> <br />
  Usuário:
  <input name="username" type="text" /> <br />
  E-mail:
  <input name="email" type="email" /> <br />
  Senha:
  <input name="password" type="password" /><br />
  Tipo de Conta: <br />
  <input name="type" type="radio" value=4 /> Usuário <br />
  <input name="type" type="radio" value=3 /> Dev <br />
  <input name="{{token.nameKey}}" type="hidden" value="{{token.name}}" />
  <input name="{{token.valueKey}}" type="hidden" value="{{token.value}}" />
  <input type="submit" value="Cadastrar" /><a href="/entrar">Voltar ao Login</a>

  <br /><br />Ao continuar você aceita os Termos e Política de Privacidade

  {% if signUp==1 %}
  <script>
    alert('Cadastro com sucesso, faça login');
    window.location = window.location.href + '/../entrar';
  </script>{% endif %}
</form>

{% endblock %}