{% extends "layout.html" %}

{% block header %}
<title>Codesavvy - Entrar</title>
<meta name="title" content="Squad - Entrar">
<meta name="description" content="Acesso ao Codesavvy">
<link rel="stylesheet" href="assets/styles/login.css">
{% endblock %}

{% block body %}

{% if login %}
<div class="alert alert-warning" role="alert">
  Usuário ou Senha incorretos!
</div>
{% endif %}

<div class="container">
  <div class="blueBg">
    <div class="box signin">
      <h2>Já tem uma conta?</h2>
      <button class="signinBtn">Fazer login</button>
    </div>
    <div class="box signup">
      <h2>Ainda não tem uma conta?</h2>
      <button class="signupBtn">Se registre</button>
    </div>
  </div>
  <div class="formBx">
    <div class="form signinForm">
      <form action="/entrar" method="post">
        <h3>Login</h3>
        <input name="{{token.nameKey}}" type="hidden" value="{{token.name}}" />
        <input name="{{token.valueKey}}" type="hidden" value="{{token.value}}" />
        <input type="text" placeholder="Usuário" name="login">
        <input type="password" placeholder="Senha" name="password">
        <input type="submit" value="Entrar">
        <a href="/recuperar_senha" class="forgot">Esqueci a minha senha</a>
      </form>
    </div>
    <div class="form signupForm"></div>
  </div>
</div>

{% if signUp==1 %}
<script>
  alert('Cadastro com sucesso, faça login');
  window.location = window.location.href + '/../entrar';
</script>
{% endif %}
<script>
  const signinBtn = document.querySelector('.signinBtn');
  const signupBtn = document.querySelector('.signupBtn');
  const formBx = document.querySelector('.formBx');
  const body = document.querySelector('body')

  signupBtn.onclick = function () {
    formBx.classList.add('active')
    body.classList.add('active')
    setTimeout(() => {
      window.location.href = "registrar";
    }, 500);
  }
  signinBtn.onclick = function () {
    formBx.classList.remove('active')
    body.classList.remove('active')
  }
</script>
{% endblock %}